<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head">
<meta charset="UTF-8">

</head>
<body>


	<h1 style="display: flex; justify-content: center;">SEJA BEM
		VINDO!</h1>


	<div id="rectangle"
		style="width: full; height: 40px; background-color: gray">

		<h4 style="display: flex; justify-content: center;">SYSTEMTEC
			INFORMATICA</h4>
	</div>


	<br />


	<div style="display: flex; justify-content: center;">
		<a href="/Cliente/lista"><button
				class="btn btn-outline-warning btn-lg">Cliente</button></a>
	</div>
	<br />

	<div style="display: flex; justify-content: center;">
		<a href="/Vendedor/lista"><button
				class="btn btn-outline-warning btn-lg ">Vendedor</button></a>
	</div>
	<br />

	<div style="display: flex; justify-content: center;">
		<a href="/Produto/lista"><button
				class="btn btn-outline-warning btn-lg">Produto</button></a>
	</div>
	<br />

	<div style="display: flex; justify-content: center;">
		<a href="/Venda/lista"><button
				class="btn btn-outline-warning btn-lg">Venda</button></a>
	</div>
	<br />

</body>
</html>